body {
  font: normal 12px/15px verdana, arial;
  margin: 2rem;
  max-width: 35vw;
}
.testxyz {
  margin: 0.4rem 0;
}

[data-colorshift]:before {
  content: "Make It " attr(data-colorshift);
}
pre {
  max-width: inherit;
}
code {
  font-family: "Courier New", Courier, monospace;
  color: green;
}

[data-test] {
  color: green;
}

.caption {
  border: 1px solid #CCC;
  padding: 5px;
  display: compact;
  text-align: center;
}

img.randomImg {
  min-width: 400px;
  min-height: 200px;
  background-image: url(../img/waiting.svg);
  background-position: center center;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-color: #eee;
}

