body {
  font: normal 12px/15px verdana, arial;
  margin: 2rem;
  max-width: 35vw;
}
.testxyz {
  margin: 0.4rem 0;
}

[data-colorshift]:before {
  content: "Make It " attr(data-colorshift);
}
pre {
  max-width: inherit;
}
code {
  font-family: "Courier New", Courier, monospace;
  color: green;
}
